{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block css_content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
   <div class="login">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>
{% endblock %}